<section>
  <ul id="recent_posts">
      <li class="post">
      <a href="/" alt="Home"><img src="{{ root_url }}/images/Home.png"></a>
      <a href="/archives/" alt="Archives"><img src="{{ root_url }}/images/Calendar.png"></a>
      {% if site.email %}
      <a href="mailto:{{ site.email }}" alt="E-Mail"><img src="{{ root_url }}/images/Envelope.png"></a>
      {% endif %}
      <a href="/atom.xml" alt="subscribe feed"><img src="{{ root_url }}/images/rss.png"></a>
      </li>
  </ul>
</section>
